<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzlz.aviation.feature.webview" >
  <application>
    <activity
        android:name="com.hzlz.aviation.feature.webview.WebViewActivity"
        android:configChanges="orientation|screenSize"
        android:exported="false"
        android:theme="@style/Theme.AppCompat.NoActionBar" />

  </application>
</manifest>
