<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jxntv">

    <!-- 华为手机更新应用桌面角标需要的权限 -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.permission.sec.MDM" />
    <!--  华为 AG渠道号查询权限  -->
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA" />

    <!--小米推送配置 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="${applicationId}.permission.MIPUSH_RECEIVE" />

    <!--oppo 推送配置 -->
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE"/>
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE"/>

    <!-- OPPO 桌面角标 -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>

    <application>

        <!--华为推送服务-->
        <service
            android:name=".push.hms.HmsPlatformsService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- 按照华为官方文档配置无法读取id在此单独配置 -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="${huawei_appId}" />
        <meta-data
            android:name="com.huawei.hms.client.cpid"
            android:value="${huawei_cpId}" />

        <!--小米推送服务-->
        <receiver
            android:exported="true"
            android:name=".push.mi.MiPushMessageReceiver">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:process=":pushservice"
            android:enabled="true" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:process=":pushservice"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:process=":pushservice"
            android:exported="false">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>


        <!--Oppo推送服务-->
        <!--兼容Q以下版本-->
        <service
            android:name=".push.oppo.OppoPushService"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE"/>
            </intent-filter>
        </service>
        <!--兼容Q版本-->
        <service
            android:name=".push.oppo.OppoPushServiceQ"
            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE"/>
                <action android:name="com.heytap.msp.push.RECEIVE_MCS_MESSAGE"/>
            </intent-filter>
        </service>


        <!--Vivo推送服务-->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="${vivo_appKey}"/>
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="${vivo_appId}"/>

        <receiver android:name=".push.vivo.VivoPushReceiver"
            android:exported="false">
            <intent-filter>
                <!--接收push消息-->
                <action android:name="com.vivo.pushclient.action.RECEIVE"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:permission="com.push.permission.UPSTAGESERVICE"
            android:exported="true"/>

    </application>

    <!--华为推送适配Android 11-->
    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>


</manifest>