<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jxntv.share">

  <application>

      <activity-alias
          android:name="${applicationId}.wxapi.WXEntryActivity"
          android:exported="true"
          android:targetActivity="com.jxntv.share.wxapi.WXEntryActivity" />

    <activity
        android:name="com.jxntv.share.wxapi.WXEntryActivity"
        android:configChanges="orientation|screenSize"
        android:exported="true"
        android:launchMode="singleTask"
        android:taskAffinity="${applicationId}"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <activity
        android:name="com.tencent.tauth.AuthActivity"
        android:launchMode="singleTask"
        android:noHistory="true" >
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!--注意，这里的222222要换成app自己的appid-->
        <data android:scheme="tencent1105211225" />
      </intent-filter>
    </activity>
    <activity
        android:name="com.tencent.connect.common.AssistActivity"
        android:screenOrientation="behind"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:configChanges="orientation|keyboardHidden|screenSize">
    </activity>
  </application>
</manifest>

